* {
    font-family: 'Roboto', sans-serif;
}

.btn-coral{
    background-color: coral;
    color: #FFFFFF;
}

.text-white{
    color: #FFFFFF;
}

.bg-dark{
   background-color:  #525252;

}

.bg-light-grey{
    background-color:#F8F9FA ;
}